<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ExcelDataFileLocation" value="C:\\DEV\\ShellScripts\\SampleData.xlsx" />
		<!--<add key="Environment" value="https://localhost:12443" />-->
		<add key="Environment" value="https://qa17.mdiachieve.com" />
		<add key="Facility" value="MatrixCare Care Center Applewood WA01 - MCSL" />
		<add key="ResidentFirstName" value="Kite" />
		<add key="ResidentLastName" value="Aaron" />
		<add key="Username" value="opsgod" />
		<add key="Password" value="password1" />
		<add key="FacilityReportsUrl" value="/Zion?zionpagealias=REPORTMENUFACILITY"/>
	</appSettings>
</configuration>