<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ExcelDataFileLocation" value="File that contains data to read" />
		<add key="Environment" value="Environment Root" />
		<add key="Facility" value="Sample Data store" />
		<add key="ResidentFirstName" value="FirstName" />
		<add key="ResidentLastName" value="LastName" />
		<add key="Username" value="username" />
		<add key="Password" value="password" />
	</appSettings>
</configuration>
